body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #000;
    margin: 0;
}

.jumbotron h1 {
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}

.jumbotron p {
    margin-bottom: 0;
    text-align: center;
}

.jumbotron ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: .9rem 0 0;
}

.jumbotron li {
    list-style: none;
    margin: .3rem 1.3rem;
}

.jumbotron li a {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    padding: 8px 12px;
    transition: background-color .125s ease 0s;
}

.jumbotron li a:hover {
    background-color: #fff;
    color: #000;
}

.separator {
    width: 150px;
    height: 3px;
    background-color: #fff;
}

.separator.below-jumbotron {
    margin-bottom: 64px;
}

.container-fluid h2::before {
    content: '';
    height: 1px;
    background-color: red;
}

.container-fluid h2 {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}

.grid {
    margin: 2.8rem 0;
}

.grid .grid-item {
    padding: 3px;
}

.grid .card {
    margin: 0;
    background-color: #262626;
    border-radius: 0;
}

.grid .card .card-img-top {
    background-color: #ececec;
    position: relative;
    border-radius: 0;
}

.grid .card .card-img-top img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.grid .card .card-img-top .card-title {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 10px 15px 0 15px;
    background-color: #fff;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}

.grid .card.no-card-body .card-img-top .card-title {
    padding-bottom: 4px;
    border: none;
    background-color: #000;
    color: #fff;
}

.grid .card .card-img-top .card-title-modal-hint {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-end;
    transition: none;
}

.grid .card .card-img-top .card-title-modal-hint:hover {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.grid .card .card-img-top .card-title-modal-hint:hover .card-title {
    border: none;
    background-color: #fff;
    color: #000;
}

.grid .card .card-img-top .card-title-row {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
}

.grid .card .card-img-top .card-title-row::after {
    display: inline-flex;
    content: '';
    flex-grow: 1;
    border-bottom: 3px solid #000;
}

.grid .card .card-body {
    padding: 1rem;
    background-color: #fff;
}

.grid .card .card-body .card-text {
    color: #000;
}

.languages-frameworks small {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    display: block;
    line-height: .9rem;
    margin-bottom: .4rem;
}

.languages-frameworks ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.languages-frameworks li {
    font-size: .85rem;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    padding: .125rem .6rem;
    margin: 0 .3rem .3rem 0;
}

.grid .card .card-bottom ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    list-style: none;
    padding: 0 8px 8px 8px;
    margin-bottom: 0;
    background-color: #000;
    border: 3px solid #fff;
}

.grid .card .card-bottom li a {
    display: block;
    font-size: .85rem;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
    padding: 0 12px;
    margin: 8px 8px 0 0;
}

.grid .card .card-bottom li a:hover {
    background-color: #fff;
    color: #000;
}

.grid .card .card-bottom li a .fa {
    padding: 10px 0 10px 0;
}

.jumbotron li a .fa,
.grid .card .card-bottom a .fa {
    margin-right: .45rem;
}

.page-footer {
    background-color: #000;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .16),
                0 -2px 10px 0 rgba(0, 0, 0, .12);
    padding: 3rem 0 3rem 0;
    text-align: center;
}

.page-footer p {
    margin: 0;
}

.page-footer a {
    font-weight: 700;
    position: relative;
}

.modal-dialog .modal-content {
    border: 3px solid #fff;
    border-radius: 0;
    font-size: .9rem;
}

.modal-dialog .modal-body .close {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    opacity: 1;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    background-color: #fff;
    text-shadow: none;
    transition: all .125s ease 0s;
    z-index: 2;
}

.modal-dialog .modal-body .close:hover {
    background-color: #000;
    color: #fff;
    opacity: 1;
}

.modal-dialog .modal-body .close:focus {
    outline: none;
    opacity: 1;
}

.modal-dialog .modal-body .carousel .carousel-control-container {
    opacity: 1;
}

.modal-dialog .modal-body .carousel .carousel-control-container.carousel-control-prev {
    justify-content: flex-start;
}

.modal-dialog .modal-body .carousel .carousel-control-container.carousel-control-next {
    justify-content: flex-end;
}

.modal-dialog .modal-body .carousel .carousel-control {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .125s ease 0s;
}

.modal-dialog .modal-body .carousel .carousel-control:hover {
    background-color: #000;
    color: #fff;
}

.modal-dialog .modal-body .carousel .carousel-control-container.carousel-control-prev .carousel-control {
    border-right: 3px solid #000;
}

.modal-dialog .modal-body .carousel .carousel-control-container.carousel-control-next .carousel-control {
    border-left: 3px solid #000;
}

.modal-dialog .modal-body .modal-title-row {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
}

.modal-dialog .modal-body .modal-title-row::after {
    display: inline-flex;
    content: '';
    flex-grow: 1;
    border-bottom: 3px solid #000;
}

.modal-dialog .modal-body .modal-title {
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    background-color: #fff;
    padding: 7px 15px 0 15px;
    font-size: 18px;
    font-weight: 500;
}

.modal-dialog .modal-footer {
    background-color: #000;
    border-top: 3px solid #fff;
    padding: 0 8px 8px 8px;
    border-radius: 0;
    justify-content: flex-start;
}

.modal-dialog .modal-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}

.modal-dialog .modal-footer li a {
    display: block;
    font-size: .85rem;
    white-space: nowrap;
    font-weight: 700;
    color: #fff;
    padding: 0 12px;
    margin: 8px 8px 0 0;
}

.modal-dialog .modal-footer li a:hover {
    background-color: #fff;
    color: #000;
}

.modal-dialog .modal-footer li a .fa {
    padding: 10px 0 10px 0;
}

.modal-dialog .modal-footer a .fa {
    margin-right: .45rem;
}
